.aboutme {
  color: black;
  background: rgb(255, 255, 255, 0.5);
  z-index: 1;
  height: 40%;
  width: 60%;
  position: absolute;
  top: 32%;
  left: 9%;
  padding: 5px;
  border-radius: 20px;
}

.aboutme__background {
  background-color: rgb(255, 255, 255, 0.9);
  height: 100%;
  width: 100%;
  position: relative;
  top: 3%;
  left: -10%;
  padding: 10px;
  border-radius: 20px;
}

.aboutme > p {
  z-index: 100;
  color: black;
}
