.personalInfo {
  position: absolute;
  align-items: center;
  height: 100%;
  width: 30vw;
  background-color: rgba(0, 0, 0, 0.1);
  animation: openingHeader 1s;
  animation-delay: 6s;
  animation-fill-mode: both, forwards, none;
}

.personalInfo > h1 {
  width: 122%;
  margin-top: 7%;
  position: absolute;
  z-index: 101;
  font-size: 60px !important;
  font-size: 68px;
  color: beige;
  font-family: cursive Black, Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(83, 83, 83), 1px 1px 0 rgb(131, 131, 131),
    2px 2px 0 rgb(0, 0, 0), 3px 3px 0 rgb(0, 0, 0), 4px 4px 0 rgb(130, 131, 125),
    5px 5px 0 rgb(0, 0, 0), 6px 6px 5px rgba(0, 0, 0, 0.6),
    6px 6px 1px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.personalInfo__container {
  height: 82%;
  width: 110%;
  display: grid;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 9%;
  left: 0;
  z-index: 100;
}

.personalInfo__container::before {
  content: "";
  width: 121%;
  height: 2px;
  background: white;
  position: absolute;
  top: 0;
  z-index: 1000000;
  animation: openingHorizontalLine 0.5s;
  animation-fill-mode: both, forwards, none;
  animation-delay: 6s;
}

.personalInfo__container::after {
  content: "";
  width: 136%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: 50%;
  left: 53%;
  z-index: 1000000;
  transform: rotate(90deg);
  animation: openingVerticleLine 1s;
  animation-delay: 6.5s;
  animation-fill-mode: both, forwards, none;
}
.personalInfo__icon {
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
  animation: openingIcons 1s;
  animation-fill-mode: both, forwards, none;
  animation-delay: 5s;
}

.personalInfo__container-projects {
  animation: icons 1s;
  animation-fill-mode: both, forwards, none;
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 2px solid white;
}

.personalInfo__icon-projects > p {
  color: white;
}

.personalInfo__icon {
  width: 100%;
  padding: 30%;
  border-radius: 5px;
  border-top: 3px solid white;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  cursor: pointer;
}

.personalInfo__icon-projects {
  border-top: 3px solid rgb(147, 148, 153);
  background-color: rgb(0, 0, 0, 0.8);
}

.personalInfo__container > p {
  font-size: 16px;
}

/* --------------------KeyFrames-------------------- */

@keyframes openingVerticleLine {
  0% {
    width: 0%;
  }

  100% {
    width: 136%;
  }
}

@keyframes openingHorizontalLine {
  0% {
    width: 0%;
  }

  100% {
    width: 121%;
  }
}

@keyframes openingIcons {
  0% {
    left: -750%;
  }

  100% {
    left: 0;
  }
}

@keyframes icons {
  0% {
    left: 0%;
  }

  100% {
    left: -80%;
  }
}
@keyframes openingHeader {
  0% {
    left: -50%;
  }

  100% {
    left: 0;
  }
}
