.button {
  color: white;
  z-index: 1000000000;
  display: flex;
}

.button__container-left {
  height: 3rem;
  width: 3rem;
  margin: 5px;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  background: radial-gradient(circle, #000000 0%, white 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4%;
  right: 10%;
}
.button__container-right {
  height: 3rem;
  width: 3rem;
  margin: 5px;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  background: radial-gradient(circle, #000000 0%, white 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4%;
  right: 5%;
}

.button__project-left {
  position: absolute;
  animation: left 1.5s;
  animation-fill-mode: both, forwards, none;
}
.button__project-right {
  position: absolute;
  animation: right 1.5s;
  animation-fill-mode: both, forwards, none;
}

@keyframes left {
  0% {
    bottom: 4%;
    right: 10%;
  }
  20% {
    right: 66%;
  }

  100% {
    bottom: 50%;
    right: 66%;
    background: radial-gradient(
      circle,
      rgb(255, 255, 255) 0%,
      rgb(0, 0, 0) 100%
    );
    color: black;
  }
}

@keyframes right {
  0% {
    bottom: 4%;
    right: 0.4%;
  }
  20% {
    right: 0.4;
  }

  100% {
    bottom: 50%;
    right: 0.8%;
    background: radial-gradient(
      circle,
      rgb(255, 255, 255) 0%,
      rgb(0, 0, 0) 100%
    );
    color: black;
  }
}
