.button {
  color: black;
  display: flex;
}

.button__container-left {
  height: 3.5rem;
  width: 3.5rem;
  margin: 5px;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4%;
  right: 10%;
}
.button__container-right {
  height: 3.5rem;
  width: 3.5rem;
  margin: 5px;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4%;
  right: 5%;
}

.button__project-left {
  position: absolute;
  animation: left 1.5s;
  animation-delay: 2s;
  animation-fill-mode: both, forwards, none;
}
.button__project-right {
  position: absolute;
  animation: right 1.5s;
  animation-delay: 2s;
  animation-fill-mode: both, forwards, none;
}

/* --------------------KeyFrames-------------------- */

@keyframes left {
  0% {
    bottom: 4%;
  }
  50% {
    bottom: 4%;
    right: 66%;
  }

  100% {
    bottom: 45%;
    right: 66%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
}

@keyframes right {
  0% {
    bottom: 4%;
  }
  50% {
    bottom: 4%;
    right: 0.5;
  }

  100% {
    bottom: 45%;
    right: 0.5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
}
