.project-wrapper {
  padding: 3% 0;
  position: relative;
}
.project-wrapper > h1 {
  margin: 2% 0;
}

.projects-buttons-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  top: -80px;
}
.projects-button {
  padding: 0.6em;
  border-radius: 25px;
  width: 20%;
  border: 1px solid white;
  color: white;
  background-color: rgba(71, 71, 71, 0.8);
  cursor: pointer;
  margin: 0 2%;
  outline: none;
}
.projects-button-link {
  color: white;
  font-family: "Open Sans", sans-serif;
}
.projects-button:hover {
  border: 2px solid #61dbfb;
}

@keyframes underline {
  100% {
    width: 100%;
  }
}
