.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 90vh;
}

.mainHeader {
  margin: 0px;
  font-size: clamp(40px, 6vw, 72px);
}

.mainHeader > span {
  color: #8892b0;
}

.smallHeader > span {
  color: var(--secondary);
}

.content {
  margin: 20px 0px 0px;
  max-width: 540px;
}

.content > span {
  font-size: 0.8rem;
  font-style: italic;
}
