* {
  margin: 0;
  padding: 0;
  /* font-family: "Playfair Display SC", serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Megrim";
}
a {
  text-decoration: none;
}

body {
  overflow: hidden;
}

.reveal-body-overflow {
  overflow: visible;
  overflow-x: hidden;
}

.line-break {
  width: 3%;
  height: 2px;
  background-color: #61dbfb;
  position: relative;
  top: -250%;
  left: 50%;
  transform: translate(-50%, -250%);
}
.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100vw;
  color: black;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  /* -webkit-box-shadow: inset -6px 0px 14px 17px rgba(255, 255, 255, 0.64);
  box-shadow: inset -6px 0px 14px 17px rgba(255, 255, 255, 0.64); */
}
.app__opening-header > h4 {
  color: #61dbfb;

  font-size: 2rem;
}

.app-content-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* border: 1px solid red; */
  position: relative;
}

.app-content {
  /* border: 1px solid blue; */
  width: 100vw;
  height: 100%;
  padding: 0 3%;
  position: relative;
  top: 8%;
  animation: content 4s forwards;
  animation-delay: 6s;
  transform: translateY(250%);
}

@keyframes content {
  from {
  }
  to {
    transform: translateY(0);
  }
}

/* hight lighted text animations */

.highlight-text {
  font-size: 2rem;
}

.highlight-text:nth-child(1) {
  animation: firstLetter 3s infinite;
}
.highlight-text:nth-child(2) {
  animation: secondLetter 3s infinite;
}
.highlight-text:nth-child(3) {
  animation: thirdLetter 3s infinite;
}
.highlight-text:nth-child(4) {
  animation: fourthLetter 3s infinite;
}
.highlight-text:nth-child(5) {
  animation: fifthLetter 3s infinite;
}
.highlight-text:nth-child(6) {
  animation: sixthLetter 3s infinite;
}
.highlight-text:nth-child(7) {
  animation: seventhLetter 3s infinite;
}
.highlight-text:nth-child(8) {
  animation: eigthLetter 3s infinite;
}
.highlight-text:nth-child(9) {
  animation: ninthLetter 3s infinite;
}
.highlight-text:nth-child(10) {
  animation: tenthLetter 3s infinite;
}
.highlight-text:nth-child(11) {
  animation: eleventhLetter 3s infinite;
}
.highlight-text:nth-child(12) {
  animation: twelfthLetter 3s infinite;
}
.highlight-text:nth-child(13) {
  animation: thirteenthLetter 3s infinite;
}
.highlight-text:nth-child(14) {
  animation: fourteenthLetter 3s infinite;
}

@keyframes nav {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes firstLetter {
  0% {
    color: black;
  }
  5% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes secondLetter {
  0% {
    color: black;
  }
  10% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes thirdLetter {
  0% {
    color: black;
  }
  15% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes fourthLetter {
  0% {
    color: black;
  }
  20% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes fifthLetter {
  0% {
    color: black;
  }
  25% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes sixthLetter {
  0% {
    color: black;
  }
  30% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes seventhLetter {
  0% {
    color: black;
  }
  35% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes eigthLetter {
  0% {
    color: black;
  }
  40% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes ninthLetter {
  0% {
    color: black;
  }
  45% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes tenthLetter {
  0% {
    color: black;
  }
  50% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes eleventhLetter {
  0% {
    color: black;
  }
  55% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes twelfthLetter {
  0% {
    color: black;
  }
  60% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes thirteenthLetter {
  0% {
    color: black;
  }
  65% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes fourteenthLetter {
  0% {
    color: black;
  }
  70% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}

/* border animations */

@keyframes borderTop {
  0% {
    border-top: 1px solid rgb(207, 206, 206);
  }
  10% {
    border-top: 1px solid #61dbfb;
  }
  100% {
    border-top: 1px solid rgb(207, 206, 206);
  }
}
@keyframes borderRight {
  0% {
    border-right: 1px solid rgb(207, 206, 206);
  }
  30% {
    border-right: 1px solid #61dbfb;
  }
  100% {
    border-right: 1px solid rgb(207, 206, 206);
  }
}
@keyframes borderBottom {
  0% {
    border-bottom: 1px solid rgb(207, 206, 206);
  }
  60% {
    border-bottom: 1px solid #61dbfb;
  }
  100% {
    border-bottom: 1px solid rgb(207, 206, 206);
  }
}
@keyframes borderLeft {
  0% {
    border-left: 1px solid rgb(207, 206, 206);
  }
  90% {
    border-left: 1px solid #61dbfb;
  }
  100% {
    border-left: 1px solid rgb(207, 206, 206);
  }
}
