* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display SC", serif;
}
a {
  text-decoration: none;
  color: white;
}

body {
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

video {
  object-fit: cover;
  width: 70vw;
  height: 91vh;
  position: fixed;
  top: 0;
  right: 0;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  animation: 10s;
}
img {
  object-fit: cover;
  width: 70vw;
  height: 91vh;
  position: fixed;
  top: 0;
  right: 0;
  animation: openingImage 1s;
  animation-fill-mode: both, forwards, none;
  animation-delay: 2.5s;
}

@keyframes openingImage {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

.app__image-border::before {
  content: "";
  width: 102%;
  height: 2px;
  position: absolute;
  top: 91%;
  left: 40%;
  transform: rotate(180deg);
  background-color: white;
  animation: openingHorizontalLine2 1s;
  animation-fill-mode: both, forwards, none;
  animation-delay: 1.5s;
}

.App-link {
  color: black;
}

@keyframes openingHorizontalLine2 {
  from {
    width: 0;
  }
  to {
    width: 102%;
  }
}

.app__projectArrow {
  width: 10%;
  height: 15%;
  border: 3px solid white;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 15px;
  position: absolute;
  top: 45%;
  right: 3%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 1.5s ease-in-out;
  padding: 10px;
  animation-duration: 4.1s;
  animation-delay: 1s;
}
.app__projectArrow :after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 30%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: 2px solid #000000; /* This creates the border. Replace black with whatever color you want. */
}

.app__projectArrow > span {
  transform: rotate(90deg);
  font-size: 22px;
  letter-spacing: 2.5px;
  color: black;
  /* color: white; */
}

.openProjects-active {
  right: 72%;
  transition: 1s ease-in-out;
  border: none;
  color: black;
  z-index: 10000;
  border: 1px solid white;
}

.app__header {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 15%;
  top: 0;
  left: 0;
  border-right: 1px solid white;
  animation-duration: 3s;
}

@media only screen and (max-width: 1153px) {
  .app__icons {
    display: grid;
  }
}

@media only screen and (max-width: 1153px) {
  .app__icons {
    display: grid;
  }
}
@media only screen and (max-width: 700px) {
  .app__resume {
    left: 77%;
  }
}
@media only screen and (max-width: 640px) {
  .app__resume {
    left: 76%;
  }
}

.app__opening-background {
}

.app__opening-background:nth-child(1) {
  color: white;
  border-bottom: 1px solid white;
  height: 6%;
  width: 100%;
  position: absolute;
  left: -100%;
  animation: open 3s;
}
.app__opening-background:nth-child(2) {
  color: white;
  border-bottom: 1px solid white;
  height: 6%;
  width: 100%;
  position: absolute;
  left: -100%;
  top: 20%;
  animation: open 4s;
}
.app__opening-background:nth-child(3) {
  color: white;
  border-bottom: 1px solid white;
  height: 6%;
  width: 100%;
  position: absolute;
  left: -100%;
  top: 40%;
  animation: open 5s;
}
.app__opening-background:nth-child(4) {
  color: white;
  border-bottom: 1px solid white;
  height: 6%;
  width: 100%;
  position: absolute;
  left: -100%;
  top: 60%;
  animation: open 6s;
}
.app__opening-background:nth-child(5) {
  color: white;
  border-bottom: 1px solid white;
  height: 6%;
  width: 100%;
  position: absolute;
  left: -100%;
  top: 80%;
  animation: open 7s;
}

@keyframes open {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}
