* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display SC", serif;
}
a {
  text-decoration: none;
  color: white;
}

body {
  overflow-x: hidden;
  /* background-color: black; */
}
/* body::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */

.App {
  text-align: center;
  background-color: rgb(7, 7, 7);
  height: 100vh;
  width: 100vw;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  -webkit-box-shadow: inset -6px 0px 14px 17px rgba(255, 255, 255, 0.64);
  box-shadow: inset -6px 0px 14px 17px rgba(255, 255, 255, 0.64);
}
.app__opening-header > h4 {
  color: white;
  font-size: 2rem;
}

.typewriter {
  background-color: black;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 50%;
  opacity: 0;
  animation: moveHeader 6.7s;
  animation-delay: 5s;
  animation-fill-mode: both, forwards, none;
}

.typewriter h1 {
  overflow: hidden;
  /* border-right: 0.15em solid white; */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.3s steps(40), blink-caret 0.75s step-end infinite;
  color: white;
  font-size: 72px;
  font-family: cursive Black, Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(83, 83, 83), 1px 1px 0 rgb(131, 131, 131),
    2px 2px 0 rgb(0, 0, 0), 3px 3px 0 rgb(0, 0, 0), 4px 4px 0 rgb(130, 131, 125),
    5px 5px 0 rgb(0, 0, 0), 6px 6px 5px rgba(0, 0, 0, 0.6),
    6px 6px 1px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.2);
}

img {
  object-fit: cover;
  width: 70vw;
  height: 91vh;
  position: fixed;
  top: 0;
  right: 0;
  animation: openingImage 1s;
  animation-fill-mode: both, forwards, none;
  animation-delay: 6s;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes moveHeader {
  0% {
    opacity: 1;
  }
  100% {
    top: 200%;
    opacity: 0;
    z-index: -1000;
  }
}

.mandala {
  height: 300px;
  object-fit: contain;
}

.mandala:nth-child(1) {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 1;
  animation: falling 3s;
  animation-delay: 4s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(2) {
  position: absolute;
  top: -100%;
  left: 5%;
  z-index: 1;
  animation: falling 5s;
  animation-delay: 1.5s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(3) {
  position: absolute;
  top: -100%;
  left: 15%;
  z-index: 1;
  animation: falling 2s;
  animation-delay: 4s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(4) {
  position: absolute;
  top: -100%;
  left: 22%;
  z-index: 1;
  animation: falling 2s;
  animation-delay: 5s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(5) {
  position: absolute;
  top: -100%;
  left: 30%;
  animation: falling 3s;
  animation-delay: 4.2s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(6) {
  position: absolute;
  top: -100%;
  left: 38%;
  z-index: 1;
  animation: falling 1s;
  animation-delay: 5s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(7) {
  position: absolute;
  top: -100%;
  left: 46%;
  z-index: 1;
  animation: falling 2s;
  animation-delay: 4s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(8) {
  position: absolute;
  top: -100%;
  left: 56%;
  animation: falling 1s;
  animation-delay: 4s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(9) {
  position: absolute;
  top: -100%;
  left: 45%;
  z-index: 1;
  animation: falling 1s;
  animation-delay: 3s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(10) {
  position: absolute;
  top: -100%;
  left: 33%;
  animation: falling 2s;
  animation-delay: 4s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(11) {
  position: absolute;
  top: -100%;
  left: 37%;
  animation: falling 2.5s;
  animation-delay: 3.5s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(12) {
  position: absolute;
  top: -100%;
  left: 20%;
  animation: falling 4s;
  animation-delay: 2s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(13) {
  position: absolute;
  z-index: 1;
  top: -100%;
  left: -8%;
  animation: falling 2.4s;
  animation-delay: 3s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(14) {
  position: absolute;
  top: -100%;
  left: -17%;
  z-index: 1;
  animation: falling 4s;
  animation-delay: 3.2s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(15) {
  position: absolute;
  top: -100%;
  left: -24%;
  z-index: 1;
  animation: falling 2.5s;
  animation-delay: 3.5s;
  /* animation-fill-mode: both, forwards, none; */
}
.mandala:nth-child(16) {
  position: absolute;
  top: -100%;
  left: -31%;
  animation: falling 4.2s;
  animation-delay: 3.2s;
  /* animation-fill-mode: both, forwards, none; */
}

@keyframes falling {
  from {
    top: -100%;
  }
  to {
    top: 100%;
    transform: rotate(360deg);
  }
}
