.container {
  position: relative;
  display: grid;
  grid-gap: 2rem;
  z-index: 1;
}

.pageHeader {
  font-size: 2rem;
}

.pageHeader > span {
  color: var(--main);
}

@media (max-width: 1024px) {
  .pageHeader {
    text-align: center;
  }
}
