html,
body {
  padding: 0;
  margin: 0;
  background: whitesmoke;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: none;
  font-weight: 700;
}
#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: 1;
  mix-blend-mode: difference;
  opacity: 0;
  animation: particles 1s forwards;
  animation-delay: 2s;
}

@keyframes particles {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
