.about-me {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.about-me-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 1%;
  width: 50vw;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border: 3px solid #61dbfb;
}

.about-me-text {
  display: grid;
}
.about-me-button:hover {
  background-color: #61dbfb;
  border: 1px solid rgb(0, 0, 0);
}
.about-me-button {
  line-height: 2rem;
  min-width: 20%;
  font-size: 1rem;
  padding: 1%;
  border-radius: 5px;
  border: 1px solid #61dbfb;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

.about-me-button:hover span {
  display: none;
}
.about-me-button:hover:before {
  content: "Close!";
}

.about-me-button > span {
  font-family: "Open Sans", sans-serif;
}

.about-me-close-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  color: #61dbfb;
  cursor: pointer;
}

/* nav */

.highlight-text:nth-child(1) {
  animation: firstLetter 3s infinite;
}
.highlight-text:nth-child(2) {
  animation: secondLetter 3s infinite;
}
.highlight-text:nth-child(3) {
  animation: thirdLetter 3s infinite;
}
.highlight-text:nth-child(4) {
  animation: fourthLetter 3s infinite;
}
.highlight-text:nth-child(5) {
  animation: fifthLetter 3s infinite;
}
.highlight-text:nth-child(6) {
  animation: sixthLetter 3s infinite;
}
.highlight-text:nth-child(7) {
  animation: seventhLetter 3s infinite;
}
.highlight-text:nth-child(8) {
  animation: eigthLetter 3s infinite;
}
.highlight-text:nth-child(9) {
  animation: ninthLetter 3s infinite;
}
.highlight-text:nth-child(10) {
  animation: tenthLetter 3s infinite;
}
.highlight-text:nth-child(11) {
  animation: eleventhLetter 3s infinite;
}
.highlight-text:nth-child(12) {
  animation: twelfthLetter 3s infinite;
}
.highlight-text:nth-child(13) {
  animation: thirteenthLetter 3s infinite;
}
.highlight-text:nth-child(14) {
  animation: fourteenthLetter 3s infinite;
}

@keyframes nav {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes firstLetter {
  0% {
    color: black;
  }
  5% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes secondLetter {
  0% {
    color: black;
  }
  10% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes thirdLetter {
  0% {
    color: black;
  }
  15% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes fourthLetter {
  0% {
    color: black;
  }
  20% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes fifthLetter {
  0% {
    color: black;
  }
  25% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes sixthLetter {
  0% {
    color: black;
  }
  30% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes seventhLetter {
  0% {
    color: black;
  }
  35% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes eigthLetter {
  0% {
    color: black;
  }
  40% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes ninthLetter {
  0% {
    color: black;
  }
  45% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes tenthLetter {
  0% {
    color: black;
  }
  50% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes eleventhLetter {
  0% {
    color: black;
  }
  55% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes twelfthLetter {
  0% {
    color: black;
  }
  60% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes thirteenthLetter {
  0% {
    color: black;
  }
  65% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
@keyframes fourteenthLetter {
  0% {
    color: black;
  }
  70% {
    color: #61dbfb;
  }
  100% {
    color: black;
  }
}
